@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --black:#000;
    --tr-color:#DBA73A;
    --shade:#03056b85;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;

}
html{
  padding: 2rem;
  background-color: var(--second-color);
}

body{
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
}

/**************************** HEADER *********************/

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  border-radius: 15px;
  padding: .5rem;
  color: var(--second-color);

}

header nav ul{
  list-style: none;
  color: var(--second-color);
  margin-top: 2rem;
  padding: 0; 
}

header nav ul li a{
  font-size: 1.2rem;
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  color: var(--second-color);
  margin-left: .2rem;
}
header nav ul li:hover{
  background-color: var(--shade);
  transform: scale(1.1);
  border-radius: .5rem;
  padding: .2rem;
}

header img{
  width: 160px;
  margin: 0;
  padding: 0;
}


/*********************** MAIN ***************************/

.general-container{
  background-color: var(--second-color);
  border-radius: 1rem;
  padding: 1rem;
}

main .top-information{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  
}

.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
}
.profile-container{
  display: flex;
  align-items: center;
}

.profile-container img{
  margin-right: .5rem;
  width: 60px;
}
.profile-container span{
  font-weight: bold;
  font-size: 1.2rem;
}

/********************* BANNER *******************/


main .banner{
  width: 100%;
  padding: 1rem;
}
main .banner img{
  width: 100%;
}

/**************** OPTIONS **********************/

.options-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.options-container .option{
  display: flex;
  align-items: center;
  width: 45%;
  background-color:var(--primary-color);
  color: var(--second-color);
  border-radius: .8rem;
  padding: 2rem;
}
.options-container .option img{
  padding: 2rem;
}
.options-container .option h3{
  font-weight: bold;
}

/********************* FOOTER ******************/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 3rem;
  color: var(--second-color);
}

.logos-container{
  display: flex;
}

.logos-container img{
  width: 100px;
  height:100px;
}
.logos-container h3{
  font-size: 1.2rem;
  font-weight: bold;
}
.informacion i{
  font-size: 1.5rem;
}

footer .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .info ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
}
footer .info ul li a{
  text-decoration: underline;
  font-size: none;
  color: var(--second-color);
}
footer .info h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin: .2rem;
}

/*************************** MEDIA SCREEN ****************/

@media screen and (max-width:800px) {
  html{
    padding: .5rem;
  }
  
  body{
    flex-direction: column;
    padding: .5rem;
    border-radius: 1rem;
  }
  
  /**************************** HEADER *********************/
  
  .hidden-responsive{
    visibility: none;
    display: none;
    
  }
  header{
    flex-direction: row;
    width: 100%;
    border-radius:1rem;
  }
  header div{
    width: 100%;
  }
  
  header nav ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  
  /*********************** MAIN ***************************/
  
  .general-container{
    border-radius: .5rem;
    padding: 1rem;
  }
  /********************* BANNER *******************/
  main h2{
    padding: .2rem;
    margin: 0;
  }
 main .top-information{
  padding: 0;
    margin: 0;
  }
  
  main .banner{
    border-radius: .5rem;
    padding: 0;
  }
  main .banner img{
    border-radius: .5rem;
    padding: 0;
  }
  
  /**************** OPTIONS **********************/
  
  .options-container{
    flex-direction: column;
    padding: .5rem;
  }
  
  .options-container .option{
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    padding: .5rem;
  }
  .options-container .option img{
    padding: .5rem;
  }

  
  /********************* FOOTER ******************/
  
  footer{
    flex-direction: column;
    margin-top: 1rem;
  }
  footer h3{
    margin: 0;
    padding: 0;
  }
  .option{
    padding: .5rem;
  }
  .informacion i{
    font-size: 1.5rem;
  }
  .logos-container img{
    width: 100px;
    height:100px;
    padding: 0;
  }
 
  
}






