@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --fonts:#000;
    --tr-color:#DBA73A;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*
*::after
*::before{
    box-sizing: border-box;

}
.logos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    padding: 2rem;
}

html{
    background-color: var(--primary-color);
    padding: 3rem;
}
body{
   background-color: var(--second-color);
   max-width: 1200px;
   height: auto;
   margin:auto;
   border-radius: 1rem;
}
form h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    margin: 0px;
}

form h3{
    margin: 0px;
}

.logos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;

}
.logoColombia{
    width: 256px;
    height: 100px;
}

.logoColombia img{
    width: 100%;
}

.logoAerocivil{
    height: 100px;
    width: 100px; 
}
.logoAerocivil img{
    width: 100%;
}

.container{
    display: flex;
    padding: 1rem;
}

.header{
    background-color: var(--primary-color);
    width: 45%;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.image img{
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 70%;
    height: 80%;
    text-align: center;
    padding: 1rem;
}
.form form input[type = "text"]{
    width: 100%;
    border-radius: .5rem;
    padding: .5rem 0;
    border: 1px solid #bdb8b8;
}
.forgot-password{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    text-align: end;
}
.form form button{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: .5rem;
    padding: .3rem;
    color: var(--second-color);
    font-size: 1rem;
    font-weight: bold;
    border:none;
}
.copyright p{
    color:var(--primary-color);
    font-weight: 600;
    padding: .1rem;
    margin: 0;
}

@media (max-width:700px){
   body{
    background-color: var(--primary-color);
    font-size: 14px;
   }
   body{
    margin: 0;
    padding: 1rem;
    border-color: var(--primary-color);
    }
    .container{
        background-color: var(--second-color);
        margin-top: 20%;
        flex-direction: column;
        border-radius: .5rem;
    }

    .header{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        
        height: 6rem;
        padding: .3rem;

    }
    .logos{
        padding:.2rem;
        width: 100%;
    }
    .logoColombia{
        width: 180px;
        height: 60px;
    }
    .logoAerocivil{
        width: 60px;
        height: 60px;
    }
    .image img{
        visibility: hidden;
    }
    .image{
        visibility: hidden;
        display: none;
    }
    
    .form{

        width: 100%;
        padding: .5rem;
        height: 100%;
    }
    form{
        margin-top: 1rem;
        width: 100%;
        height: 100%;
    
    }
    form input{
        margin-bottom: 1rem;
        padding: 0.2rem;
    }
    .header{
        width: 100%;
    }
}
